**Arithematic opaeraters**

In [ ]:
A=12
B=10
print(A+B)
print(A-B)
print(A*B)
print(A/B)
#floor division
print(A//B)
#Modulus
print(A%B)    #division me jo niche ki value dekhta hai hai
print(A**B)

22
2
120
1.2
1
2
61917364224

**Relational operator**

In [ ]:
A=2               #this A assignee the value
print(A==2)       #this A cheking that it's equak or not (condision)
print(A==4)

True
False

In [ ]:
username="yash"
print(username=="chetan")
print(username=="yash")

False
True

In [ ]:
A=12
B=15
print(A>B)     #GREATER than
print(A<B)     #LESS than
print(A>=B)    #GREATER than EQUALS to
print(A<=B)    #LESS than EQUALS to
print(A!=B)    #NOT EQUALS to

False
True
False
True
True

**Assignment operator**

In [ ]:
A=7
A+=2         #uper vale A me add karna hoga to yese bhi kar sakate
B=7+2        #isko yese bhi likh sakate hai
print(A)
print(B)

9
9

In [ ]:
A=7
A-=2
print(f'this is an answer {A} ')

this is an answer 5

In [ ]:
A=10
A*=2
print(A)

10.0

In [ ]:
A=5
A/=2
print(A)

2.5

In [ ]:
A=5
A//=2          #isme desimal(.) ke baad ki value nahi aati
print(A)

2

In [ ]:
A=6
A%=13
print(A)

6

**logical operrator**

AND

In [ ]:
A=15
B=13
print(A>=B and A<=B)          #aagar dono condision sahi hogi to true aayega

False

OR

In [ ]:
A=15
B=13
print(A>=B or A<=B)          #ek bhi sahi hogi to true

True

NOT

In [ ]:
A=5>12
print(not A )               #ulta kar dega

True

In [ ]:
#mix example
print(5>2)
print(5==2)
print(8>2)
print(5==3)
print(5>2 and 5==2)
print(8>2 or 6<7)
print(not 5==3)

True
False
True
False
False
True
True

**Membership operator**

In

In [ ]:
print("y" in 'yash' )
print('z' in 'yash')

True
False

Not in

In [ ]:
print('y' not in 'yash')
print('z' not in 'yash')

False
True

**Ternary opertor**

If else

In [ ]:
marks=66
print('pass' if marks>=35 else 'fail' )

pass