for is use to repeat rhe activity for a range

In [ ]:
for i in range(1,11):       #in that brakets 1st no. is were it start from and 2nd for ending
  print(f'the numbers are {i}')

the numbers are 1
the numbers are 2
the numbers are 3
the numbers are 4
the numbers are 5
the numbers are 6
the numbers are 7
the numbers are 8
the numbers are 9
the numbers are 10

In [ ]:
for i in range(11,22):
  print(i)

11
12
13
14
15
16
17
18
19
20
21

In [ ]:
# write an table
a=int(input(f'table number: '))
for i in range(1,11):
 print(i*a)

table number: 11
11
22
33
44
55
66
77
88
99
110

In [ ]:
for i in range(1,25,3):        #isme jo 3rd vala hai vo utne number chod deta hai
   print(i)

1
4
7
10
13
16
19
22

In [ ]:
for i in range(25,1,-1):      #isme jo 3rd vala aagar -1 ho to vo ulta print karta hai
   print(i)

25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2