# **Set**

**indicate by { }**

In [30]:
nm={'vishal','prashant','rahul','shreepad','shubham'} #it is an set
print(type(nm))
print(nm)

<class 'set'>
{'vishal', 'prashant', 'rahul', 'shreepad', 'shubham'}

**#Dupicates is not allowed**

In [31]:
film={'fourd vs  farari','sita raman','batman','batman'}
print(film)

{'sita raman', 'fourd vs  farari', 'batman'}

**Add**

In [32]:
film.add('cooli')
film.add('vikram')
print(film)

{'fourd vs  farari', 'cooli', 'sita raman', 'vikram', 'batman'}

**Remove**

In [33]:
film.remove('batman')
print(film)
#set is mutable(change kiya jasakat hai)

{'fourd vs  farari', 'cooli', 'sita raman', 'vikram'}

In [34]:
print(film[0])
#sets in Python don’t support indexing like lists or tuples.

TypeError: 'set' object is not subscriptable

**pop**

In [35]:
print(film.pop())
print(film)

fourd vs  farari
{'cooli', 'sita raman', 'vikram'}

* **len**
* **max**
* **min**

In [37]:
print(len(film))
print(max(film))
print(min(film))

3
vikram
cooli