# **Operations**
* Union
* intersection
* Difference
* Symmetric Difference

In [1]:
cars={'honda','MG','KIA','Mahindra','BMW','Fourd'}
bikes={'hero','honda','bajaj','TVS','yamaha'}

* **Union**- common values from both sets

In [6]:
U=cars.union(bikes)
print(U)

{'bajaj', 'KIA', 'yamaha', 'hero', 'BMW', 'TVS', 'MG', 'Fourd', 'honda', 'Mahindra'}

* **intersection**- common values from both sets

In [7]:
I=cars.intersection(bikes)
print(I)

{'honda'}

**Difference**- Values in first but not in second

In [9]:
Diff=cars.difference(bikes)
print(Diff)

{'KIA', 'BMW', 'MG', 'Fourd', 'Mahindra'}

**SYMMETRIC DIFFERENCE**- value from both set except the common(common vala cansal hi jata hai)

In [13]:
sym=cars.symmetric_difference(bikes)
print(sym)

{'yamaha', 'KIA', 'hero', 'BMW', 'TVS', 'MG', 'bajaj', 'Fourd', 'Mahindra'}

**Operation on List?**

In [17]:
male=['Rohan','eshan','sumit','prathamesh','vishal','prashant','shreepad','atharva']
female=['priya','ritika','sinam','janvi','anushka','atharva']

In [18]:
M=list(set(male).intersection(female))
print(M)

['atharva']